.canvas-container {
    position: relative;
    width: 464px;
    height: 696px;
    left: 60px;
    
}
#canvas {
   position: absolute;
   border: solid 6px black;
   width: 464px;
   height: 696px;
}

.apple-count {
    position: absolute;
    left: calc(100% + 20px);
    top: -0px

}
.apple-count span {
    font-size: 40px;
}

#apple{
    position: absolute;
    width: 54px;
    height: 54px;
    transform: translateY(-10px);
}
.pause{
    position: absolute;
    left: -50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pause img {
    width: 60px;
    height: 60px;
    transform: translate(-16%, -16%);
    
}
.stats{
    position: absolute;
    font-size: 22px;
    left: calc(100% + 20px);
    bottom: -10px;
    width: 200px;
    border: 2px red solid;
    background-color: rgba(0, 255, 255, 0.2);
}

.upgrades-container {
    position: absolute;
    left: calc(100% + 20px);
    top: 40%;
    transform: translateY(-50%);
}
#upgrades-title {
    position: absolute;
    font-size: 30px;
    top: -40px;
}
.upgrades {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
}

.item {
    background-color: aqua;
    border: 2px red solid;
}

.item img {
    width: 100px;
    height: 100px;
}
.item span {
    position: absolute;
    color: white;
}

.item4 {
    color: black;
}

body {
    background-color: burlywood;
}