.canvas-container {
    position: relative;
    width: 464px;
    height: 696px;
    left: 80px;
    
}
#canvas {
   position: absolute;
   border: solid 6px black;
   width: 464px;
   height: 696px;
}

.apple-count {
    position: absolute;
    left: 104%;
    top: -0px

}
.apple-count span {
    font-size: 40px;
}

#apple{
    position: absolute;
    width: 54px;
    height: 54px;
    transform: translateY(-10px);
}
.pause{
    position: absolute;
    left: -50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pause img {
    width: 60px;
    height: 60px;
    transform: translate(-16%, -16%);
    
}
.stats{
    position: absolute;
    font-size: 22px;
    left: 104%;
    bottom: -10px;
    width: 230px;
    border: 2px red solid;
    background-color: rgba(0, 255, 255, 0.2);
}

body {
    background-color: burlywood;
}