#canvas {
   position: absolute;
   width: 480px;
   height: 720px;
   border: solid 6px black;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

body {
    background-color: burlywood;
}