.canvas-container {
    position: relative;
    width: 464px;
    height: 696px;
    left: 60px;
    
}
#canvas {
   position: absolute;
   border: solid 6px black;
   width: 464px;
   height: 696px;
}

.apple-count {
    position: absolute;
    left: calc(100% + 20px);

}
#num-apples {
    font-size: 40px;
}

.apple-count img{
    position: absolute;
    width: 54px;
    height: 54px;
    transform: translateY(-10px);
}

.pause{
    position: absolute;
    left: -50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pause img {
    width: 60px;
    height: 60px;
    transform: translate(-16%, -16%);
    
}
.stats{
    position: absolute;
    font-size: 22px;
    left: calc(100% + 20px);
    bottom: -10px;
    width: 200px;
    border: 2px brown solid;
    background-color: rgba(0, 255, 255, 0.2);
}

.upgrades-container {
    position: absolute;
    left: calc(100% + 20px);
    top: 140px;
    transform: translateY(-50%);
}
#upgrades-title {
    position: absolute;
    font-size: 30px;
    top: -40px;
}
.upgrades {
    position: absolute;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
}

.upgrade {
    position: relative;
    border: 2px brown solid;
    cursor: pointer;
}

.upgrade-img {
    width: 100px;
    height: 100px;
}
.upgrade-level {
    position: absolute;
    color: white;
}

.tooltip {
    position: absolute;
    padding: 6px;
    bottom: calc(100% + 6px);
    background-color: brown;
    color: wheat;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    max-width: 260px;
    visibility: hidden;
    font-size: 16px;
}

.upgrade:hover .tooltip {
    visibility: visible;
}

.upgrade-apple {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
}

.upgrade-cost {
    color: yellow;
}
.upgrade-value {
    color: lightgreen;
}

.select-speed {
    position: relative;
    height: 30%;
}

.bold {
    font-weight: bold;
    font-size: 40px;
}
.snake-length {
    left: calc(100% + 60px);
    bottom: 0%;
    font-weight: bold;
}

.tooltip .snake-length {
    color: lightgreen;
}

.info {
    position: absolute;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    left: calc(100% + 20px);
    top: 510px;
    font-size: 40px;
    gap: 10px;
}

.info img {
    width: 58px;
    height: 58px
}

.info .item {
    display: flex;
    align-items: center;
}

.item1 {
    position: relative;
}

.item1 img {
    position: relative;
    bottom: 4px;
}

.item2 {
    position: relative;
}

.item1:hover .tooltip6{
    visibility: visible;
}

.item2:hover .tooltip7{
    visibility: visible;
}

.multiplier {
    color: yellow;
    font-weight: bold;
}
.remainder {
    font-weight: normal;
}

body {
    background-color: burlywood;
}
