.canvas-container {
    position: relative;
    width: 464px;
    height: 696px;
    left: 60px;
    
}
#canvas {
   position: absolute;
   border: solid 6px black;
   width: 464px;
   height: 696px;
}

.apple-count {
    position: absolute;
    left: calc(100% + 20px);

}
.apple-count span {
    font-size: 40px;
}

.apple-count img{
    position: absolute;
    width: 54px;
    height: 54px;
    transform: translateY(-10px);
}

.pause{
    position: absolute;
    left: -50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pause img {
    width: 60px;
    height: 60px;
    transform: translate(-16%, -16%);
    
}
.stats{
    position: absolute;
    font-size: 22px;
    left: calc(100% + 20px);
    bottom: -10px;
    width: 200px;
    border: 2px brown solid;
    background-color: rgba(0, 255, 255, 0.2);
}

.upgrades-container {
    position: absolute;
    left: calc(100% + 20px);
    top: 140px;
    transform: translateY(-50%);
}
#upgrades-title {
    position: absolute;
    font-size: 30px;
    top: -40px;
}
.upgrades {
    position: absolute;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
}

.item {
    position: relative;
    border: 2px brown solid;
    cursor: pointer;
}

.item img {
    width: 100px;
    height: 100px;
}
.item span {
    position: absolute;
    color: white;
}

.item::after {
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px;
    bottom: calc(100% + 6px);
    background-color: brown;
    color: wheat;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    max-width: 250px;
    visibility: hidden;
}

.item:hover::after {
    visibility: visible;
}

.multiplier { 
    top: 540px;
}
.multiplier span {
    font-weight: bold;
}
.multiplier::after {
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px;
    bottom: calc(100% + 6px);
    background-color: brown;
    color: wheat;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    max-width: 90px;
    visibility: hidden;
}

.multiplier:hover::after{
    visibility: visible;
}
body {
    background-color: burlywood;
}
